{{ define "main" }}
<div class="connect">
  <div class="container">
    <div class="content-sections">
      {{ range .Params.sections }}
        <div class="content-section animate" id="jumpto-{{ .headline | urlize }}">
          <div class="photo">
            <img src="{{ .photo }}" alt="{{ safeHTMLAttr .Params.section.headline }}">
          </div>
          <div class="body">
            <h2>
              {{ .headline }}
            </h2>
            <div class="content">
              {{ .contentHTML | safeHTML }}
            </div>
            {{ if .button }}
              <a href="{{ .button.href }}" class="more text-button">
                {{ .button.text }}
              </a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="container-md">
    <div class="content-blurb center-content contact animate" id="jumpto-contact">
      <div class="body">
        <h2>
          {{ .Params.contact.headline }}
        </h2>
        <div class="content">
          {{ .Params.contact.contentHTML | safeHTML }}
        </div>
        <a href="{{ .Params.contact.button.href }}" class="button" target="_blank">
          {{ .Params.contact.button.text }}
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}
