<style type="text/css">
  .party-in-the-park {
    background-image: url(/images/events/party-in-the-park-bkgd.png);
    background-size: 340px 340px;
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #42969C;
    padding-bottom: 0;
  }
  .party-in-the-park img {
    display: block;
    margin: 0 auto;
  }
</style>
<div class="promo event party-in-the-park">
  <div class="body">
    <h2>
      <img src="/images/events/party-in-the-park.svg" alt="Party in the Park">
    </h2>
    <hr>
    <h4>
      June 14, 6-8pm
    </h4>
    <h5>
      Meadowbrook Park Grand Pavilion
    </h5>
    <div class="content">
      <p>
        Everyone is welcome for food, snow cones, fishing, face painting, and lawn games!
      </p>
    </div>
  </div>
</div>