<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ if eq .Title "" }} | Prairie Village, KS{{ end }}</title>
    <meta name="description" content="Experience real community and meaningful relationships at Fountain City Church. Worship with Christ-centered followers who desire to know and glorify God and serve their community.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="/css/main.css?v20230501" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header id="main-header" class="main-header">
      <div class="container">
        <div class="row">
          <div class="logo">
            <a href="/">
              <img src="/images/ui/fountain-city-church.png" alt="Fountain City Church">
            </a>
          </div>
          <nav id="main-nav" class="main-nav">
            <ul>
              <li>
                <a href="/about-us/">
                  About us
                </a>
                <ul>
                  <li{{ if eq .Type "about-us" }} class="selected"{{ end }}>
                    <a href="/about-us/">
                      Mission &amp; vision
                    </a>
                  </li>
                  <!-- <li{{ if eq .Type "story" }} class="selected"{{ end }}>
                    <a href="/story/">
                      Our story
                    </a>
                  </li> -->
                  <li{{ if eq .Type "staff" }} class="selected"{{ end }}>
                    <a href="/staff/">
                      Our staff
                    </a>
                  </li>
                  <li{{ if eq .Type "what-we-believe" }} class="selected"{{ end }}>
                    <a href="/what-we-believe/">
                      What we believe
                    </a>
                  </li>
                </ul>
              </li>
              <li{{ if eq .Type "sunday-morning" }} class="selected"{{ end }}>
                <a href="/sunday-morning/">
                  Sunday morning
                </a>
              </li>
              <li{{ if eq .Type "connect" }} class="selected"{{ end }}>
                <a href="/connect/">
                  Connect
                </a>
              </li>
              <li>
                <a href="https://fountaincitykc.churchcenter.com/giving" target="_blank">
                  Give
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="main-content">
      {{ if .Title }}
        <div class="page-header animate">
          <h1>
            {{ .Title }}
          </h1>
          <hr>
        </div>
      {{ end }}
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="contact">
            <h3>
              {{ .Site.Data.footer.contact.title }}
            </h3>
            <p>
              {{ .Site.Data.footer.contact.text }}
            </p>
            <a href="{{ .Site.Data.footer.contact.button.href }}" class="button" target="_blank">
              {{ .Site.Data.footer.contact.button.text }}
            </a>
          </div>
          <div class="address">
            {{ .Site.Data.footer.addressHTML | safeHTML }}
          </div>
        </div>
        <div class="row">
          <div class="social">
            <ul>
              {{ range .Site.Data.footer.elsewhere }}
                <li>
                  <a href="{{ .url }}" target="_blank">
                    <img src="{{ .image }}" alt="{{ safeHTMLAttr .title }}">
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="copyright">
            <p>
              &copy; {{ dateFormat "2006" now }} by Fountain City Church
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- <div class="debug"></div> -->
    <script src="/js/main.js?v20230501"></script>
  </body>
</html>
