{{ define "main" }}
<div class="home">
  <div class="hero fixed animate" style="background-image:url('{{ .Params.hero.photo }}');">
      <div class="body">
        <h1>
          {{ .Params.hero.headline1 }}
        </h1>
        <hr>
        <h3>
          {{ .Params.hero.headline2 }}
        </h3>
      </div>
  </div>
  <div class="container">
    <div class="cards">
      {{ range .Params.cards }}
        <div class="card animate">
          <div class="photo">
            <img src="{{ .photo }}" alt="{{ safeHTMLAttr .title }}">
          </div>
          <div class="body">
            <h3>
              {{ .headline }}
            </h3>
            <hr>
            <div class="content">
              <p>
                {{ .content }}
              </p>
            </div>
            {{ if .button }}
              <a href="{{ .button.href }}" class="button white">
                {{ .button.text }}
              </a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="content-section vertical-center sermon animate">
      <div class="photo">
        <img src="{{ .Params.sermon.photo }}" alt="{{ safeHTMLAttr .Params.sermon.headline }}">
      </div>
      <div class="body">
        <h2>
          {{ .Params.sermon.headline1 }}
        </h2>
        {{ if .Params.sermon.headline2 }}
          <h3>
            {{ .Params.sermon.headline2 }}
          </h3>
        {{ end }}
        <div class="content">
          {{ .Params.sermon.contentHTML | safeHTML }}
        </div>
        <div class="actions">
          <a href="{{ .Params.sermon.watch.href }}" class="button" target="_blank">
            {{ .Params.sermon.watch.text }}
          </a>
          <a href="{{ .Params.sermon.listen.href }}" class="button" target="_blank">
            {{ .Params.sermon.listen.text }}
          </a>
        </div>
      </div>
    </div>
    {{ if eq .Params.event.active true }}
      <div class="promo event animate"{{ if .Params.event.photo }}style="background-image:url('{{ .Params.event.photo }}');"{{ end }}>
        <div class="body">
          <h2>
            {{ .Params.event.headline1 }}
          </h2>
          {{ if .Params.event.headline2 }}
            <hr>
            <h4>
              {{ .Params.event.headline2 }}
            </h4>
            {{ if .Params.event.headline3 }}
              <h5>
                {{ .Params.event.headline3 }}
              </h5>
            {{ end }}
          {{ end }}
          {{ if .Params.event.content }}
            <div class="content">
              <p>
                {{ .Params.event.content }}
              </p>
            </div>
          {{ end }}
        </div>
      </div>
    {{ else if .Params.eventHTML }}
      {{ partial .Params.eventHTML . }}
    {{ end }}
  </div>
</div>
{{ end }}
