{{ define "main" }}
<div class="families">
  <div class="container">
    <div class="content-blurb overview">
      <div class="body">
        <div class="content highlight-lead">
          {{ .Params.overview.content | markdownify }}
        </div>
      </div>
    </div>
  </div>
  <div class="hero fixed" style="background-image:url('{{ .Params.hero.photo }}');"></div>
  <div class="container">
    <div class="content-section vertical-center">
      <div class="photo">
        <img src="{{ .Params.section.photo }}" alt="{{ safeHTMLAttr .Params.section.title }}">
      </div>
      <div class="body">
        <h3>
          {{ .Params.section.title }}
        </h3>
        <div class="content">
          {{ .Params.section.content | markdownify }}
        </div>
      </div>
    </div>
  </div>

</div>
{{ end }}
