{{ define "main" }}
<div class="families">
  <div class="container-md">
    <div class="content-blurb overview">
      <div class="body">
        <div class="content callout-lead">
          {{ .Params.overview.contentHTML | safeHTML }}
        </div>
      </div>
    </div>
  </div>
  <div class="hero fixed" style="background-image:url('{{ .Params.hero.photo }}');"></div>
  <div class="container">
    <div class="content-section vertical-center">
      <div class="photo">
        <img src="{{ .Params.section.photo }}" alt="{{ safeHTMLAttr .Params.section.headline }}">
      </div>
      <div class="body">
        <h2>
          {{ .Params.section.headline }}
        </h2>
        <div class="content">
          {{ .Params.section.contentHTML | safeHTML }}
        </div>
      </div>
    </div>
  </div>

</div>
{{ end }}
